*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 400px;
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

h1,
h2{
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

button:hover{
    opacity: 0.9;
}

.btn-secundario{
    background-color: #2196f3;
}

.btn-remover{
    background-color: #f44336;
}

.btn-editar{
    background-color: #ff9800;
}

ul{
    list-style: none;
    margin-top: 20px;
}

li{
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.acoes{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.hidden{
    display: none;
}

p{
    text-align: center;
    margin-top: 10px;
}

.botao-site1 {
    position: fixed;
    bottom: 20px;   
    right: 20px;    
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.botao-site1:hover {
    background-color: #4caf50;
    transform: scale(1.05);
}

.botao-site2 {
    position: fixed;
    bottom: 20px;   
    right: 200px;    
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.botao-site2:hover {
    background-color: #4caf50;
    transform: scale(1.05);
}

.botao-site3 {
    position: fixed;
    bottom: 20px;   
    right: 360px;    
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.botao-site3:hover {
    background-color: #4caf50;
    transform: scale(1.05);
}